.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.image {
  margin-top: 30px;
  margin-left: 10%;
  width: 650px;
  height: 400px;
  background-origin: 10px;
  border-radius: 20px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: -75px;
  font-size: 2rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 34px;
  font-size: 2rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
