.signin-container {
  margin-top: 15%;
}

.modalContainer {
  display: flex;
}

.img {
  width: 26%;
  height: 220px;
  margin-right: 3%;
  margin-left: 2%;
  margin-top: 5%;
}
.signIn-btn {
  float: right;
  margin: 0 2px;
}
